html,body{
  padding: 0;
  margin: 0;
  background: #E5F3FF;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

h2{
  margin: auto;
  text-align: center;
  padding: .3em;
}

.cards * {
    box-sizing: border-box;
    box-shadow: 0 10px 20px 10px rgba(black, .5);

}

.cards > *{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    /* border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333; */
    border-top-left-radius: .9em;
    border-top-right-radius: .9em;

}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    /* border-right: 2px solid #333333;
    border-left: 2px solid #333333; */
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__content h3 {
  color:#87CEFA;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    /* border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333; */
    border-bottom-left-radius: .9em;
    border-bottom-right-radius: .9em;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}

.search-box-container{
  position: relative;
  height: 60px;
  padding-top: 30px;
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #E5F3FF;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  width: 50%;
  border: solid 2px #5CBAF3;
}

.search-text{
  border: none;
  background: none;
  outline: none;
  float: left;;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: .4s;
  line-height: 40px;
  width: calc(100% - 50px);
  display: flex;

}

.search-btn{
  justify-content: center;
  align-items: center;
  display: flex;
  float: right;
  color: white;
  background-color: #87CEFA;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-style: none;

}

/* Nav bar */
.active{
  background-color: #5CBAF3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #87CEFA;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #5CBAF3;
}

/* loader */
.loader {
  border: 8px solid white;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
